@import "./../scss/abstracts/variables";

.about {
	background-color: $color-light;
	padding: 10rem 0;
	grid-column: full-start/full-end;
	grid-row: 2/3;

	display: grid;
	grid-template-columns:
		[full-start] minmax(6rem, 1fr) [center-start] repeat(
			8,
			[col-start] minmax(min-content, 15rem) [col-end]
		)
		[center-end] minmax(6rem, 1fr) [full-end];
	grid-template-rows: repeat(2, min-content);
}

.heading {
	grid-row: 1/-1;
	grid-column: center-start/center-end;
	text-align: center;
}
